<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <title>밴드할래?</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
    <script>
      const supabaseUrl = "https://kzoqorcgyatwmoafkfcb.supabase.co";
      const supabaseKey =
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt6b3FvcmNneWF0d21vYWZrZmNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA4NDg3MDQsImV4cCI6MjAyNjQyNDcwNH0.sOC91NnK94dqgloyKq5LKqH9nwyVrrUXgQJJn0whyZg";
      const client = supabase.createClient(supabaseUrl, supabaseKey);

      console.log(client);
    </script>
    <script th:src="@{/front/js/validate_fuctions.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/front/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/front/css/error.css}" />

    <th:block layout:fragment="addCss"></th:block>

    <th:block layout:fragment="addJs"></th:block>
  </head>
  <body>
    <th:block layout:fragment="content"></th:block>
  </body>
</html>
