<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/default_layout}">



<th:block th:fragment="headerFragment">

    <th:block layout:fragment="addJs">
        <script th:src="@{/front/js/main.js}"></script>
    </th:block>

    <header class="header">
        <div class="leftContent">
            <img th:src="@{/img/icons/menu.svg}" alt="menu">
            <a th:href="@{/}">
                <img th:src="@{/img/logo.svg}" alt="logo">
            </a>
        </div>
        <div class="rightContent">
            <a th:href="@{/login}">로그인</a>
            |
            <a th:href="@{/signup}">회원가입</a>
        </div>
    </header>
</th:block>
</html>
