<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/default_layout}">



<th:block th:fragment="sideMenuFragment">
<nav class="side-nav">
    <div class="side-nav-contents-box">
        <div class="side-nav-close-button">
            <img th:src="@{/img/icons/cancel.svg}" alt="logo">
        </div>
        <div class="side-nav-contents">
            <div class="side-nav-content">
                <img th:src="@{/img/icons/offer.svg}" alt="offer">
                <span>악기 중고거래</span>
            </div>
            <div class="side-nav-content">
                <img th:src="@{/img/icons/group.svg}" alt="group">
                <span>밴드 찾기</span>
            </div>
            <div class="side-nav-content">
                <img th:src="@{/img/icons/calender.svg}" alt="calender">
                <span>합주 일정관리</span>
            </div>
            <div class="side-nav-content">
                <img th:src="@{/img/icons/map.svg}" alt="map">
                <span>합주실 찾기</span>
            </div>
        </div>
    </div>
</nav>
</th:block>
</html>
