<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/default_layout}">

<th:block layout:fragment="addCss">
    <link rel="stylesheet" type="text/css" th:href="@{/front/css/profile_edit.css}">
</th:block>

<th:block layout:fragment="addJs">
    <script th:src="@{~/front/js/group_page.js}"></script>
</th:block>

<!--Body 영역-->
<th:block layout:fragment="content">
    <div class="invite_form ">
        <div class="invite_title_box">
            <span>그룹 맴버 초대</span>
            <img th:src="@{/img/icons/cancel.svg}" id="invite_cancel_button">
        </div>
        <div class="invite_box">
            <div class="invite_link_box">
                <span>초대 링크</span>
                <div class="invite_link_span_box">
                    <span id="invite_link_span">링크 예제</span>
                    <img th:src="@{/img/icons/copy.svg}" class="invite_icon copy_icon">
                    <div id="copy_message" class="copy_message">복사가 완료되었습니다!</div>
                </div>
            </div>
            <div class="invite_email_span_box">
                <span>이메일 초대</span>
                <div class="invite_link_span_box">
                    <input placeholder="초대받을 회원의 이메일을 입력하세요">
                    <img th:src="@{/img/icons/email.svg}" class="invite_icon">
                </div>
            </div>
        </div>
    </div>
    <span id="group_id_span" th:text="${group_id}"></span>
    <div class="profile_box body-content">
        <div class="profile_img_span_box">
            <div class="profile_picture">
                <img th:src="@{~/img/icons/my_profile.svg}" alt="profile_picture">
            </div>
            <div class="profile_value" id="profile_value">
                <div class="user_name_span_and_edit_buttons">
                    <span th:text="${group_name}">그룹 이름</span>
                    <div class="public_buttons">
                        <div class="profile_edit_button">
                            <span>그룹 수정</span>
                        </div>
                        <div class="is_public">
                            <span id="is_public_span">그룹 공개</span>
                        </div>
                    </div>
                </div>
                <div class="introduce_span_box">
                    <span th:text="${group_introduce}">그룹 소개</span>
                </div>
            </div>

        </div>

        <div class="group-user-area">
            <div class="group-user-area-span-box">
                <span class="group-user-area-span">회원 목록</span>
                <div id="invite_user">
                    <img th:src="@{/img/icons/plus.svg}">
                    <span id="invite_user_span">초대하기</span>
                </div>
            </div>
            <table id="userTable">
                <tbody id="userTableBody">
                </tbody>
            </table>
        </div>

        <div class="group-user-area">
            <div class="group-user-area-span-box">
                <span class="group-user-area-span">일정 목록</span>
                <div id="add_schedule">
                    <img th:src="@{/img/icons/plus.svg}">
                    <span id="add_schedule_span">추가하기</span>
                </div>
            </div>
        </div>


    </div>
</th:block>
</html>