<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/default_layout}">

<th:block layout:fragment="addCss">
    <link rel="stylesheet" type="text/css" th:href="@{/front/css/profile_edit.css}">
</th:block>

<th:block layout:fragment="addJs">
    <script th:src="@{~/front/js/my_page.js}"></script>
</th:block>

<!--Body 영역-->
<th:block layout:fragment="content">
    <div class="profile_box">
        <div class="profile_img_span_box">
            <div class="profile_picture">
                <img th:src="@{~/img/icons/my_profile.svg}" alt="profile_picture">
            </div>
            <div class="profile_value" id="profile_value">
                <div class="user_name_span_and_edit_buttons">
                    <span th:text="${group_name}">그룹 이름</span>
                    <div class="public_buttons">
                        <div class="profile_edit_button">
                            <span>그룹 수정</span>
                        </div>
                        <div class="is_public">
                            <span id="is_public_span">그룹 공개</span>
                        </div>
                    </div>
                </div>
                <div class="introduce_span_box">
                    <span th:text="${group_introduce}">그룹 소개</span>
                </div>
            </div>

        </div>

        <div class="group_user_list">

        </div>


    </div>
</th:block>
</html>