<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/default_layout}">

<th:block layout:fragment="addCss">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" type="text/css" th:href="@{/front/css/profile_edit.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/front/css/calender.css}">

</th:block>

<th:block layout:fragment="addJs">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script th:src="@{/front/js/schedule.js}"></script>
</th:block>

<!--Body 영역-->
<th:block layout:fragment="content">
  <p>일정을 선택해주세요. <input type="text" id="datepicker" ></p>
  <div class="time-picker">
    <select id="start-meridiem-dropdown" class="time-picker-select">
      <option value="AM">오전</option>
      <option value="PM">오후</option>
    </select>
    <select id="start-hour-dropdown" class="time-picker-select">

    </select>
    <span>:</span>
    <select id="start-minute-dropdown" class="time-picker-select">

    </select>
    ~
    <select id="end-meridiem-dropdown" class="time-picker-select">
      <option value="AM">오전</option>
      <option value="PM">오후</option>
    </select>
    <select id="end-hour-dropdown" class="time-picker-select">

    </select>
    <span>:</span>
    <select id="end-minute-dropdown" class="time-picker-select">

    </select>
  </div>
  <script src="scripts.js"></script>


  </body>
  <script>
    $.datepicker.setDefaults({
      dateFormat: 'yy-mm-dd',
      prevText: '이전 달',
      nextText: '다음 달',
      monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
      monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
      dayNames: ['일', '월', '화', '수', '목', '금', '토'],
      dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
      dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
      showMonthAfterYear: true,
      yearSuffix: '년'
    });

    $(function() {
      function updateDatepickerIcons(inst) {
        var prevButton = inst.dpDiv.find('.ui-datepicker-prev');
        var nextButton = inst.dpDiv.find('.ui-datepicker-next');

        // Remove existing icon
        prevButton.children('.ui-icon').remove();
        nextButton.children('.ui-icon').remove();

        // Add custom icon
        prevButton.append('<span class="custom-prev-icon"></span>');
        nextButton.append('<span class="custom-next-icon"></span>');
      }


      $("#datepicker").datepicker({
        prevText: "",
        nextText: "",
        showButtonPanel: true,
        closeText: "확인",
        beforeShow: function(input, inst) {
          setTimeout(function() {
            updateDatepickerIcons(inst);
          }, 1);
        },
        onChangeMonthYear: function(year, month, inst) {
          setTimeout(function() {
            updateDatepickerIcons(inst);
          }, 1);
        },
      });
    });

  </script>
</th:block>
</html>