<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/default_layout}">

<th:block layout:fragment="content">

    <input type="button" value="login_by_kakao" id="login" />
    <script>
        async function signInWithKaKao() {
            const { data, error } = await client.auth.signInWithOAuth({
                provider: "kakao",
                options: {
                    redirectTo: "http://localhost:8080/",
                },
            });
            if (error) {
                console.error("로그인에 실패했습니다:", error.message);
            } else {
                console.log("로그인이 완료되었습니다:", data);
                saveSessionValue(data.session.user.id);
                window.location.href = "http://localhost:8080";
            }
        }
        document
            .querySelector("#login")
            .addEventListener("click", signInWithKaKao);
    </script>

    <input type="button" value="logout" id="logout" />


    <script>
        async function signOut() {
            const { error } = await client.auth.signOut();
            sessionStorage.removeItem("user_id");
            await user_group_functions();
        }
        document.querySelector("#logout").addEventListener("click", signOut);
    </script>

    <input type="button" th:onclick="|window.location.href='@{/signup}'|" value="sign up">
</th:block>



</html>
