<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/login_layout}">

<th:block layout:fragment="addCss">
  <link rel="stylesheet" type="text/css" th:href="@{/front/css/account.css}">
</th:block>

<th:block layout:fragment="addJs">
  <script th:src="@{/front/js/login.js}"></script>
</th:block>

<!--Body 영역-->
<main layout:fragment="content" class="member-style">
  <div class="main_area">
    <div class="logoBox" th:onclick="|window.location.href='@{/}'|">
      <img th:src="@{/img/logo.svg}" alt="logo">
    </div>
    <div class="error_box">
      <span class="error_box_span">해당하는 계정을 찾을 수 없습니다.<br>이메일과 비밀번호를 확인해주세요.</span>
    </div>
    <!--Form 영역-->
    <form autocomplete="off" class="member-box" id="loginForm">
      <input th:if="${redirectURL != null}" type="hidden" name="redirectURL" th:value="${redirectURL}">
      <div class="rows email_input_error" th:classappend="${session.NotBlank_email} ? 'error-box' : ''">
        <img th:src="@{/img/icons/email.svg}" id="emailIcon">
        <input type="text" name="email" placeholder="이메일을 입력해주세요." id="email" class="placeholder">
      </div>
      <div class="email_error_box">
        <img th:src="@{/img/icons/error.svg}">
        <span id="emailErrorSpan">이메일이 입력되지 않았습니다.</span>
      </div>

      <div class="rows pw_input_error" th:classappend="${session.NotBlank_password} ? 'error-box' : ''">
        <img th:src="@{/img/icons/password.svg}" id="passwordIcon">
        <input type="password" name="password" placeholder="비밀번호를 입력해주세요." id="password" class="placeholder">
      </div>
      <div class="pw_error_box">
        <img th:src="@{/img/icons/error.svg}">
        <span id="passwordErrorSpan">비밀번호가 입력되지 않았습니다.</span>
      </div>
      <button type="submit" >로그인</button>
      <!--계정 찾기 기능 추가 예정-->
      <div class="forgot_info">
        <a class="button-text" href="#">아이디 찾기</a>
        <span class="button-text">|</span>
        <a class="button-text" href="#">비밀번호 찾기</a>
      </div>
      <!--카카오 로그인-->
      <button type="button"  th:onclick="" id="login_by_kakao">
        <img th:src="@{/img/icons/kakako_login_symbol.svg}">
        카카오 로그인
      </button>
      <button type="button" th:onclick="|window.location.href='@{/signup}'|">회원가입</button>
    </form>
  </div>
</main>

</html>