<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/default_layout}">

<th:block layout:fragment="addCss">
  <link rel="stylesheet" type="text/css" th:href="@{/front/css/profile_edit.css}">
</th:block>

<th:block layout:fragment="addJs">
  <script th:src="@{front/js/my_page.js}"></script>
</th:block>

<!--Body 영역-->
<th:block layout:fragment="content">
    <div class="profile_box">
      <div class="profile_img_span_box">
        <div class="profile_picture">
          <img th:src="@{/img/icons/my_profile.svg}" alt="profile_picture">
        </div>
        <div class="profile_value" id="profile_value">
          <div class="user_name_span_and_edit_buttons">
            <span id="user_name"></span>
            <div class="public_buttons">
              <div class="profile_edit_button">
                <span>프로필 수정</span>
              </div>
              <div class="is_public">
                <span id="is_public_span"></span>
              </div>
            </div>
          </div>
          <div class="location_span_box">
            <img th:src="@{/img/icons/location.svg}" alt="location_icon">
            <span id="location"></span>
          </div>
          <div class="introduce_span_box">
            <span id="introduce"></span>
          </div>
        </div>

      </div>
      <div class="profile_session_box">
        <div class="rows session_button_box">
          <label class="session_buttons session_no_checked vocal_box">
            <img th:src="@{/img/icons/vocal.svg}" alt="vocal">
            보컬
          </label>
          <label class="session_buttons session_no_checked guitar_box">
            <img th:src="@{/img/icons/guitar.svg}" alt="guitar">
            기타
          </label>
          <label class="session_buttons session_no_checked bass_box">
            <img th:src="@{/img/icons/bass.svg}" alt="bass">
            베이스
          </label>
          <label class="session_buttons session_no_checked drum_box">
            <img th:src="@{/img/icons/drum.svg}" alt="drum">
            드럼
          </label>
          <label class="session_buttons session_no_checked keyboard_box">
            <img th:src="@{/img/icons/keyboard.svg}" alt="keyboard">
            건반
          </label>
          <label class="session_buttons session_no_checked brass_box">
            <img th:src="@{/img/icons/brass.svg}" alt="brass">
            관악
          </label>
        </div>
      </div>

      <div class="group-list-area">
        <span class="group-list-area-span">내 그룹 목록</span>
        <table id="groupTable">
          <tbody id="groupTableBody">
          </tbody>
        </table>
      </div>


    </div>
</th:block>
</html>