<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/default_layout}">

<th:block layout:fragment="addCss">
  <link rel="stylesheet" type="text/css" th:href="@{/front/css/profile_edit.css}">
</th:block>

<th:block layout:fragment="addJs">
  <script th:src="@{front/js/my_page.js}"></script>
  <script th:src="@{/front/js/image_functions.js}"></script>
</th:block>

<!--Body 영역-->
<th:block layout:fragment="content">
  <div class="profile_box body-content">
    <div class="profile_img_span_box">
      <div class="profile_picture">
        <img th:src="@{/img/icons/my_profile.svg}" alt="profile_picture" id="profile_picture_img">
      </div>
      <div class="profile_value" id="profile_value">
        <div class="user_name_span_and_edit_buttons">
          <span id="user_name"></span>
          <div class="public_buttons">
            <div class="profile_edit_button">
              <span>프로필 수정</span>
            </div>
            <div class="is_public">
              <span id="is_public_span">프로필 공개</span>
            </div>
          </div>
        </div>
        <div class="location_span_box">
          <img th:src="@{/img/icons/location.svg}" alt="location_icon">
          <span id="location"></span>
        </div>
        <div class="introduce_span_box">
          <span id="introduce"></span>
        </div>
        <div class="profile_session_box">
          <!-- 세션 태그가 동적으로 추가될 부분 -->
        </div>
      </div>
    </div>

    <!-- 그룹 목록 영역 -->
    <div class="group-list-area">
      <div class="group_spans">
        <span class="group-list-area-span">내 그룹 목록</span>
        <div class="create_group_button">
          <img th:src="@{/img/icons/plus.svg}">
          <span>그룹 만들기</span>
        </div>
      </div>
      <div id="groupTableBody" class="group-list-container">
        <!-- 그룹 카드가 여기에 추가됩니다 -->
      </div>
    </div>
  </div>
</th:block>
</html>
