<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/default_layout}">

<th:block layout:fragment="addCss">
  <link rel="stylesheet" type="text/css" th:href="@{/front/css/profile_edit.css}">
</th:block>

<th:block layout:fragment="addJs">
  <script th:src="@{front/js/group.js}"></script>
</th:block>

<!--Body 영역-->
<th:block layout:fragment="content">
  <div class="profile_edit_box">
    <span>프로필 설정</span>
    <div class="profile_form_box">
      <div class="profile_picture">
        <img th:src="@{/img/icons/my_profile.svg}" alt="profile_picture">
      </div>
      <form class="profile_edit_input">
        <span>회원명</span>
        <div class="rows">
          <img th:src="@{/img/icons/people.svg}" alt="username_icon">
          <input placeholder="회원명">
        </div>
        <span>거주지역</span>
        <div class="rows">
          <img th:src="@{/img/icons/location.svg}" alt="location_icon">
          <input placeholder="거주지역">
        </div>
        <span>소개글</span>
        <div class="rows">
          <img th:src="@{/img/icons/write.svg}" alt="write_icon">
          <input placeholder="소개글">
        </div>
        <span>프로필 공개 상태</span>
        <div class="rows public_button">
          <div class="profile_public">
            <input type="radio" value="public" name="is_public">프로필 공개</input>
          </div>
          <div class="profile_non_public">
            <input type="radio" value="public" name="is_public">프로필 비공개</input>
          </div>
        </div>
        <div>
          <span>세션</span>
        </div>
      </form>
    </div>
  </div>
</th:block>
</html>