<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/login_layout}">

<th:block layout:fragment="addCss">
    <link rel="stylesheet" type="text/css" th:href="@{/front/css/account.css}">
</th:block>

<th:block layout:fragment="addJs">
    <script th:src="@{/front/js/signup.js}"></script>
    <script th:src="@{/front/js/checkbox.js}"></script>
</th:block>

<!--Body 영역-->
<th:block layout:fragment="content">
    <form id="signupForm"  class="member-box member-style">
        <div class="logoBox" th:onclick="|window.location.href='@{/}'|">
            <img th:src="@{/img/logo.svg}" alt="logo">
        </div>
        <div class="error_box">
            <span class="error_box_span"></span>
        </div>
        <div class="rows name_input_box">
            <img th:src="@{/img/icons/people.svg}">
            <input type="text" id="name" placeholder="회원명을 입력하세요">
        </div>
        <div class="rows email_input_box">
            <img th:src="@{/img/icons/email.svg}">
            <input type="email" id="email" placeholder="이메일을 입력해주세요">
        </div>
        <div class="rows pw_input_box">
            <img th:src="@{/img/icons/password.svg}">
            <input type="password" id="password" placeholder="비밀번호를 입력해주세요">
        </div>
        <div class="rows pwCheck_input_box">
            <img th:src="@{/img/icons/passwordCheck.svg}">
            <input type="password" id="confirmPassword" placeholder="비밀번호를 다시 입력해주세요">
            <span id="passwordMatchMsg"></span>
        </div>
        <div class="rows mobile_input_box">
            <img th:src="@{/img/icons/mobile.svg}">
            <input type="text" id="phone" placeholder="전화번호를 입력해주세요">
        </div>
        <button type="submit" id="submitButton">회원가입</button>


        <div class="agreeBox">
            <div class="checkbox-container">
                <input type="checkbox" class="agree allAgree" id="selectAll" name="agree" onclick='toggleAll(this); toggleCheckbox();'>
                <label id="checkboxAll" class="checkbox" for="selectAll"></label>
                <label for="selectAll" class="allAgreeText" >모두 확인하였으며 동의합니다.</label>
            </div>
            <hr>

            <div class="checkbox-container">
                <input type="checkbox" id="ageAgree" class="agree"  name="ageAgree" value="true" onclick=' checkSelectAll(); toggleCheckbox();'>
                <label id="checkbox1" class="checkbox unchecked" for="ageAgree"></label>
                <label for="ageAgree" class="agreeText" >만 14세 이상 이용동의</label>
            </div>

            <div class="checkbox-container">
                <input type="checkbox" id="termsOfUser" class="agree"  name="termsOfUser" value="true" onclick=' checkSelectAll(); toggleCheckbox();'>
                <label id="checkbox2" class="checkbox unchecked" for="termsOfUser"></label>
                <label for="termsOfUser" class="agreeText" >밴드할래 이용약관 동의</label>
            </div>

            <div class="checkbox-container">
                <input type="checkbox" id="privacy" class="agree"  name="privacy" value="true" onclick=' checkSelectAll(); toggleCheckbox();'>
                <label id="checkbox3" class="checkbox unchecked" for="privacy"></label>
                <label for="privacy" class="agreeText" >개인정보 수집 및 이용 동의</label>
            </div>

            <div class="checkbox-container">
                <input type="checkbox" id="thirdPartyAgree" class="agree"  name="thirdPartyAgree"  value="true" onclick=' checkSelectAll(); toggleCheckbox();'>
                <label id="checkbox4" class="checkbox unchecked" for="thirdPartyAgree"></label>
                <label for="thirdPartyAgree" class="agreeText" >개인정보 제3자 제공 동의</label>
            </div>
        </div>

    </form>
    <script>
        let emailError = document.getElementsByName("email");
        let passwordError = document.getElementsByName("password");
        let confirmPasswordError = document.getElementsByName("confirmPassword");
        let userNmError = document.getElementsByName("userNm");
        let mobileError = document.getElementsByName("mobile");

        function addErrorBorder(errors, className) {
            errors.forEach(function (error) {
                if (error.textContent !== "") {
                    error.closest(".rows").classList.add(className);
                }
            });
        }

        addErrorBorder(emailError, 'error');
        addErrorBorder(passwordError, 'error');
        addErrorBorder(confirmPasswordError, 'error');
        addErrorBorder(userNmError, 'error');
        addErrorBorder(mobileError, 'error');
    </script>


</th:block>

</html>