<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/default_layout}">

<th:block layout:fragment="addCss">
    <link rel="stylesheet" type="text/css" th:href="@{/front/css/account.css}">
</th:block>

<th:block layout:fragment="addJs">
    <script th:src="@{/front/js/signup.js}"></script>
</th:block>

<!--Body 영역-->
<th:block layout:fragment="content">

    <form id="signupForm">

        <div>
            <input type="text" id="name" placeholder="이름을 입력하세요">
        </div>
        <div>
            <input type="email" id="email" placeholder="이메일을 입력하세요">
        </div>
        <div>
            <input type="password" id="password" placeholder="비밀번호를 입력하세요">
        </div>
        <div>
            <input type="password" id="confirmPassword" placeholder="비밀번호를 다시 입력하세요">
            <span id="passwordMatchMsg"></span>
        </div>
        <div>
            <input type="text" id="phone" placeholder="전화번호를 입력하세요">
        </div>
        <button type="submit" id="submitButton">회원가입</button>
    </form>


</th:block>

</html>