<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/default_layout}">

<th:block layout:fragment="addCss">
  <link rel="stylesheet" type="text/css" th:href="@{/front/css/profile_edit.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/front/css/trade.css}">
</th:block>

<th:block layout:fragment="addJs">
  <script th:src="@{~/front/js/image_functions.js}"></script>
  <script th:src="@{~/front/js/trade_functions.js}"></script>
</th:block>

<!--Body 영역-->
<th:block layout:fragment="content">


</th:block>
</html>