/*로그인 및 회원가입 페이지에 사용되는 CSS 입니다.*/
.logoBox {
    cursor: pointer;
    margin-bottom: 10px;
}

.member-style {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: 100vh;
}

.member-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: left;
}

.member-box button {
    display: flex;
    height: 48px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #000000;
    color: #000000;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: -0.24px;
    transition: all 0.5s;
    width: 360px;
    cursor: pointer;
}

.member-box button:first-of-type {
    background: #000000;
    color: #fff;
}

.member-box button:nth-of-type(2) {
    background: #FEE500;
    color: #000000;
    border: none;
    display: flex;
    align-items: center;
}

.member-box button img {
    height: 22px;
    width: 22px;
}

.rows {
    display: flex;
    align-items: center;
    background: #FFF;
    border-radius: 5px;
    border: #000 solid 0.5px;
    width: 360px;
}

.rows input {
    height: 48px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: #FFF;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: -0.24px;
    padding: 16px 16px 16px 16px;
    border: none;
    outline: none;
    width: 360px;
}
.rows input::placeholder {
    color: #9F9F9F;
}

.rows img {
    margin-left: 20px;

}

form .rows:nth-child(5) img {
    margin-left: 20px;
}

.forgot_info {
    color: #9F9F9F;
}

.forgot_info a{
    text-decoration: none;
    color: #9F9F9F;
}

.not_found_email {
    padding: 0px;
    background: white;
    color: white;
    border-radius: 5px;
    text-align: center;
    display: block;
    transition: 0.3s all;
}

.not_found_email_span {
    display: none;
}

/* 체크박스 시작 */

.agreeBox{
    margin-top: 30px;
    width: 360px;
}

.agree{
    display: none;

}

.agree + label{
    cursor: pointer;

}

.agree + label > span{
    vertical-align: middle;
    padding-left: 10px;
    cursor: pointer;
}


.checkbox-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox {
    width:17px;
    height:17px;
    border:1px solid #000;
    content:"";
    display:inline-block;
    border-radius: 4px;
    vertical-align:middle;
    transition: all 0.3s;
    cursor: pointer;
}

.checked {
    content: "";
    width: 17px;
    height: 17px;
    background-color: #000;
    border-color: #000;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url('../../img/icons/check.svg');
    transition: all 0.3s;
}


.allAgreeText{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 32px; /* 200% */
}

.agreeText{
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 32px; /* 200% */
}

.email_input_error{

}

.email_error_box {
    display: none;
}

.pw_input_error{

}

.pw_error_box {
    display: none;
}