.error_placeholder::placeholder {
  color: #d23123;
}

.placeholder::placeholder {
  color: #cad7e0;
}



.error {
  border: #d23123 solid 1px;
  background-color: #ffebeb;
}

#error {
  border: #d23123 solid 1px; !important;
  background-color: #ffebeb; !important;
}

.error_box {
  display: none;
  gap: 5px;
}

.error_box span {
  color: #d23123; !important;
}