/*공통 적용 되는 CSS 파일입니다.*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

* { box-sizing: border-box; font-family: Pretendard, serif; }

body{ margin: 0; }

main { height: 100%; }

/* 헤더 네비게이션 바*/
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}

.header img {
    height: 35px;
}

.leftContent {
    display: flex;
    gap: 20px;
}

.rightContent a{
    text-decoration: none;
    color: #000000;
}

#loggedIn {
    display: flex;
}

#loggedIn img{
    margin-left: 25px;
    cursor: pointer;
    height: 35px;
}