/*공통 적용 되는 CSS 파일입니다.*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

* { box-sizing: border-box; font-family: Pretendard, serif; }

body{
    margin: 0;
    min-height: 100vh;
    background-color: #F8FAFB;
}

main {
    height: 100%;
}

.row-content {
    display: flex;
    flex-direction: row;
}

.column-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.side-nav {
    height: 100vh;
    width: calc(100%/4);
    background-color: #FFFFFF;
    border-right: #F2F2F3 2px solid;

}

.side-nav img {
    width: 80%;
    min-width: 50%;
}

.logoBox {
    justify-content: center;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.side-nav-contents {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.side-nav-contents img {
    
}

/* 헤더 네비게이션 바*/
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}

.header img {
    height: 35px;
}

.leftContent {
    background-color: #FFFFFF;
    display: flex;
    border-radius: 10px;
    gap: 20px;
    padding-left: 10px;
    width: calc(100%/2);
    height: 40px;
    align-items: center;
}

.leftContent input {
    border: none;
    border-radius: 10px;
}

.leftContent img {
    height: 30px;
}

.leftContent input::placeholder {
    font-size: 1rem;
    color: #CAD7E0;
}

.rightContent a{
    text-decoration: none;
    color: #000000;
}

#loggedIn {
    display: flex;
}

#loggedIn img{
    margin-left: 25px;
    cursor: pointer;
    height: 35px;
}

.dropdown_content1{
    position: absolute;
    display: none;
    margin-top: 5px;
    width: 100px;
    border: #9F9F9F;
    border-radius: 5%;
    box-shadow: 4px 4px 10px rgba(0 0 0 / 25%);
    animation: fade-in 1s ease;
    padding: 10px;
}

.dropdown_content2{
    position: absolute;
    display: none;
    margin-top: 5px;
    width: 100px;
    right: 5px;
    border: #9F9F9F;
    border-radius: 5%;
    box-shadow: 4px 4px 10px rgba(0 0 0 / 25%);
    animation: fade-in 0.5s ease;
    padding: 10px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}