/*공통 적용 되는 CSS 파일입니다.*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

* {
  box-sizing: border-box;
  font-family: Pretendard, serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f8fafb;
}

.body-content {
  display: flex;
  margin: 30px auto;
  background-color: #ffffff;
  border: #e5f0f5 1px solid;
  padding: 50px;
}

/* 전체 페이지에 불투명한 오버레이 스타일 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* 검은색, 투명도 조절 가능 */
  z-index: 9999; /* 오버레이를 가장 위로 표시 */
  display: none; /* 기본적으로 숨김 */
  opacity: 0; /* 초기 투명도 */
  transition: opacity 0.3s ease-in-out; /* opacity 변화에 대한 트랜지션 */
}

/* 로딩 스피너 스타일 */
.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #cad7e0;
}

main {
  height: 100%;
}

.row-content {
  display: flex;
  flex-direction: row;
}

.column-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.side-nav {
  width: 0;
  background-color: #ffffff;
  border-right: #f2f2f3 2px solid;
  position: fixed;
  z-index: 10000;
  transition: all 0.3s;
  height: 100vh;
}

.side_menu_button {
  cursor: pointer;
}

.side-nav-close-button {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 20px 20px;
}

.logoBox {
  cursor: pointer;
}

.logoBox img {
  width: 100%;
  min-width: 50%;
}

.side-nav-contents-box {
  align-items: center;
  display: none;
  flex-direction: column;
  height: 100%;
}

.side-nav-contents {
  align-items: flex-start;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.side-nav-content {
  align-items: center;
  display: flex;
  gap: 20px;
  color: #9fa7bb;
  margin-top: 15px;
  margin-bottom: 15px;
}

.side-nav-content img {
  height: 27px;
  width: 27px;
}

/* 헤더 네비게이션 바*/
.header {
  display: flex;
  align-items: center;
  /*  justify-content: space-between;*/
  justify-content: space-around;
  padding: 30px calc(100% / 10);
  background-color: #ffffff;
  border-bottom: 1px solid #e5f0f5;
}

.header img {
  height: 35px;
}

.leftContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(100% / 40);
  width: 85%;
}

.header-link {
  height: 30px;
  display: flex;
  align-items: center;
  border-left: 1px solid #cad7e0;
  border-right: 1px solid #cad7e0;
  gap: 20px; /* 요소 간의 간격을 고정 값으로 설정 */
  width: auto; /* 컨테이너의 너비를 자식 요소에 맞게 설정 */
  padding-left: 3%;
  padding-right: 3%;
}

.header-link a {
  text-decoration: none;
  color: #2d3f51;
  white-space: nowrap;
}

.search_box {
  background-color: #f8fafb;
  border-radius: 10px;
  gap: 20px;
  padding-left: 15px;
  padding-right: 15px;
  width: 25%;
  height: 30px;
  display: flex;
  align-items: center;
}

.search_box input {
  background-color: #f8fafb;
  border: none;
  width: 100%;
  outline: none;
  height: 100%;
  font-size: 1rem;
}

.search_box img {
  height: 25px;
}

.search_box input::placeholder {
  font-size: 1rem;
  color: #cad7e0;
}

.rightContent a {
  text-decoration: none;
  color: #000000;
}

#loggedIn img {
  margin-left: 25px;
  cursor: pointer;
  height: 30px;
}

.dropdown_content1 {
  position: absolute;
  display: none;
  margin-top: 25px;
  width: 100px;
  border: #9f9f9f;
  border-radius: 5%;
  box-shadow: 4px 4px 10px rgba(0 0 0 / 25%);
  animation: fade-in 1s ease;
  padding: 10px;
}

.dropdown_content2 {
  position: absolute;
  display: none;
  margin-top: 25px;
  width: 100px;
  right: 5px;
  border: #9f9f9f;
  border-radius: 5%;
  box-shadow: 4px 4px 10px rgba(0 0 0 / 25%);
  animation: fade-in 0.5s ease;
  padding: 10px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
