.profile_edit_box {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 35px;
  gap: 25px;
}

.profile_edit_box span {
  font-size: 40px;
  color: #2d3f51;
}

.profile_form_box {
  display: flex;
  width: calc(100% / 1.2);
  gap: 40px;
}

.profile_form_box img {
  height: 110px;
}

.profile_form_box span {
  font-size: 1rem;
}

.profile_edit_input {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.rows {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  border: #76819c solid 1px;
  width: 100%;
  transition: all 0.1s;
  margin-top: 5px;
}

.rows img {
  height: 20px;
  margin-left: 20px;
}

.rows input {
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: -0.24px;
  padding: 16px 16px 16px 16px;
  border: none;
  outline: none;
  width: 100%;
  transition: all 0.1s;
}

.public_button_box {
  border: none;
  background-color: #f8fafb;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 2%;
}

.public_button_box input {
  display: none;
}

.profile_public_buttons {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  line-height: 50px;
}

.session_button_box {
  border: none;
  background-color: #f8fafb;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 2%;
}

.public_checked {
  border: #cad7e0 1px solid;
  background: linear-gradient(
    90deg,
    rgba(56, 160, 247, 1) 0%,
    rgba(50, 128, 251, 1) 100%
  );
  color: #ffffff;
  transition: all 0.5s;
}

.public_no_checked {
  border: #cad7e0 1px solid;
  color: #8e98ae;
  transition: all 0.5s;
}

.session_buttons {
  background-color: #9ed3ff;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  border-radius: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5px;
}

.session_buttons input {
  display: none;
}

.session_buttons img {
  margin: 0;
  height: 30px;
}

.session_checked {
  background: linear-gradient(
    90deg,
    rgba(56, 160, 247, 1) 0%,
    rgba(50, 128, 251, 1) 100%
  );
  transition: all 0.5s;
}

.submit_button {
  margin-top: 30px;
  background: linear-gradient(
    90deg,
    rgba(56, 160, 247, 1) 0%,
    rgba(50, 128, 251, 1) 100%
  );
  color: #ffffff;
  border-radius: 5px;
  border: none;
  height: 50px;
  font-size: 1rem;
  cursor: pointer;
}

.cancel_button {
  background: #f8fafb;
  border: #cad7e0 1px solid;
  color: #8e98ae;
  border-radius: 5px;
  height: 50px;
  font-size: 1rem;
}

/*마이 페이지*/
.user_name_span_and_edit_buttons {
  display: flex;
  justify-content: space-between;
  font-size: 1.9rem;
  font-weight: 500;
  color: #2d3f51;
}

.location_span_box {
  display: flex;
  font-size: 1.5rem;
  color: #76819c;
  align-items: center;
}

.location_span_box img {
  height: 20px;
}

.profile_box {
  display: flex;
  flex-direction: column;
  margin: 33px;
  width: calc(100% / 1.3);
}

.profile_img_span_box {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.profile_picture img {
  height: 110px;
}

.profile_value {
  display: flex;
  flex-direction: column;
  width: calc(100% / 1.2);
  gap: 10px;
}

.profile_session_box {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.public_buttons {
  display: flex;
  width: 45%;
  gap: 15px;
}

.profile_edit_button {
  width: 90%;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(56, 160, 247, 1) 0%,
    rgba(50, 128, 251, 1) 100%
  );
  color: #ffffff;
  border-radius: 15px;
  border: none;
  height: 40px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.is_public {
  width: 90%;
  border: #cad7e0 1px solid;
  color: #8e98ae;
  border-radius: 15px;
  height: 40px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.introduce_span_box {
  color: #76819c;
}

.group_uuid {
  display: none;
}

.user_name_error_box {
  display: none;
  align-items: center;
}

.user_name_error_box span{
  color: #d23123; !important;
}

.user_name_error_box img {
  margin-right: 0.5rem;
  height: 16px;
}

.location_error_box {
  display: none;
  align-items: center;
}

.location_error_box img {
  margin-right: 0.5rem;
  height: 16px;
}

.location_error_box span{
  color: #d23123; !important;
}

.introduce_error_box {
  display: none;
  align-items: center;
}

.introduce_error_box img {
  margin-right: 0.5rem;
  height: 16px;
}

.introduce_error_box span{
  color: #d23123; !important;
}

.error {
  border: #d23123 solid 1px;
  background-color: #ffebeb;
}

.introduce_span {
  font-size: 0.8rem !important;
  color: #8e98ae !important;
}

.group-list-area {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.group-list-area-span {
  font-size: 1.5rem;
  color: #2D3F51;
  font-weight: 500;
}

#groupTable {
  width: 100%;

}


#groupTableBody {
  display: flex;
  flex-direction: column;
  border-top: 2px solid #CAD7E0;
}

.group-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #CAD7E0;
  color: #76819C;
  font-size: 1rem;
  font-weight: lighter;
  height: 150px;
  align-items: center;
  gap: 3%;
  cursor: pointer;
}

.group-row img {
  height: 100px;
}

.group-text-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.group-row :first-child {
  font-size: 1.5rem;
  color: #2D3F51;
  font-weight: normal;
}

/*그룹 페이지*/
.group_name_error_box {
  display: none;
  align-items: center;
}

.group_name_error_box span{
  color: #d23123; !important;
}

.group_name_error_box img {
  margin-right: 0.5rem;
  height: 16px;
}

#group_id_span {
  display: none;
}

.group-user-area {
  margin-top: 50px;
}

.group-user-area-span-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-user-area-span {
  font-size: 1.5rem;
  font-weight: 500;
  color: #2D3F51;
}

#invite_user {
  display: flex;
  cursor: pointer;
  align-items: center;
  font-size: 1rem;
  color: #2D3F51;
}

#userTable {
  width: 100%;

}

#userTableBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-row {
  display: flex;
  border-top: 1px solid #CAD7E0;
  align-items: center;
  padding : 10px;
  gap: 10px;
}

.user-row img{
  width: 10%;

}

.user-text-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.group_page_session_box {
  margin: 0;
}

.group_page_session_button {
  width: 50%;
  justify-content: normal;
}

.session_label {
  width: calc(100%/3);
  height: 40px;
}

.session_label img {
  width: 30px;
  height: 30px;
}

.user_name_cell {
  font-size: 1.5rem;
  font-weight: 500;
  color: #2D3F51;
}

.invite_form {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #F8FAFB;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 20px;
  gap: 20px;
}

.invite_box {
  display: flex;
  flex-direction: column;
}

.invite_box span {

}

.invite_box{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.invite_title_box {
  display: flex;
  font-size: 1.5rem;
  color: #2D3F51;
  font-weight: 500;
  justify-content: space-between;
}
.invite_link_box{
  gap: 10px;
  display: flex;
  flex-direction: column;
  color: #76819c;
}

.invite_link_span_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #DBE4EA;
}

.invite_link_span_box {
  color: #2D3F51;
}

.invite_email_span_box {
  color: #76819c;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.invite_link_span_box input {
  border: none;
  outline: none;
  width: 80%;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: -0.24px;
}

.invite_icon {
  cursor: pointer;
}

.copy_message {
  position: absolute;
  color: #2D3F51;
  background-color: #F8FAFB;
  border: 1px solid #DBE4EA;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  white-space: nowrap;
  z-index: 1000;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  margin-top: 10px; /* 아이콘과 말풍선 사이의 거리 */
}

.copy_message::after {
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #f0f0f0 transparent;
}



.introduce_cell {
  color: #76819C;
}

#invite_cancel_button {
  cursor: pointer;
}

/* 그룹 초대 수락 페이지 */
#invited_group_id_span {
  display: none;
}

#invited_user_id_span {
  display: none;
}

.invited_info_box {
  width: calc(100% / 1.2);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 50px;
}

.img_group_info_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.group_img {
  width: calc(100%/4);
  margin-bottom: 10px;
}

#group_name_span {
  font-size: 2rem;
  font-weight: 500;
  color: #2D3F51;
}

#group_introduce_span {
  font-size: 1rem;
  font-weight: lighter;
  color: #76819C;
}

#invite_message {
  font-size: 1.3rem;
  margin-top: 10px;
  display: flex;
  color: #2D3F51;
}

#invited_user {
  font-weight: 500;
}

#invited_group {
  font-weight: 500;
}

.accept_deny_button_box {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  margin-bottom: 50px;
}

.accept_button {
  width: 30%;
  border-radius: 5px;
  cursor: pointer;
}

.deny_button {
  width: 30%;
  border-radius: 5px;
  cursor: pointer;
}


