.trade-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trade-category {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: center;
}

.trade-category-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
}

.trade-offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  padding: 20px;
  flex-direction: column;
  width: 100%;
}

.locator {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 30px 20px;
}

.locator_span {
  display: flex;
}

.locator_span a {
  text-decoration: none;
  color: #2d3f51;
}

.locator_span a:hover {
  text-decoration: underline;
}

.locator button {
  color: #2d3f51;
  border: none;
}

.trade-buttons-area {
  display: flex;
  gap: 10px;
}

.product_buttons {
  background-color: #e9e9e9;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.product_buttons button {
  background-color: #e9e9e9;
  cursor: pointer;
}

.is_filter_on {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #e86363;
}

.product-item-area {
  display: flex;
  justify-content: flex-start; /* 왼쪽부터 정렬되도록 설정 */
  gap: 20px;
  padding: 0;
  flex-wrap: wrap; /* 줄 바꿈이 필요할 때 다음 줄로 넘어가도록 설정 */
}

.product-item {
  flex: 1 1 calc(20% - 16px);
  max-width: calc(20% - 16px);
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.product-item:hover {
  transform: translateY(-5px);
}

/*.product-thumbnail-image-area {
  width: 100%;
  height: 150px; !* 초기 이미지 높이 설정 *!
  overflow: hidden;
  transition:
    height 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.product-thumbnail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}*/

.product-thumbnail-image-area {
  overflow: hidden; /* 부모 요소가 넘치는 부분을 숨김 */
  height: 200px; /* 이미지 영역의 고정 높이 설정 */
  position: relative; /* 자식 요소에 대해 상대적인 위치를 유지 */
}

.product-thumbnail-image {
  width: 100%;
  height: 100%;
  object-fit: contain; /* 이미지를 축소하여 전체를 보여줌 */
  transition: transform 0.3s ease; /* 이미지 축소 시 부드러운 애니메이션 효과 */
  transform-origin: center center; /* 축소할 때 중앙을 기준으로 축소 */
  transform: scale(0.9); /* 마우스를 올렸을 때 이미지를 축소 */
}

.product-item:hover .product-thumbnail-image {
  transform: scale(0.85); /* 마우스를 올렸을 때 이미지를 축소 */
}

.product-info {
  padding: 15px;
  text-align: center;
}

.product-info h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.product-info p {
  font-size: 14px;
  margin: 5px 0;
}

.product-price {
  font-weight: bold;
  color: #ff6600;
}

.product-status {
  font-size: 12px;
  color: #666;
}

.category-section {
  width: 100%;
}
.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  color: #2d3f51;
}

.category-header h2 {
  margin: 0;
}

.more-button {
  color: #2d3f51;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

/* 필터 팝업 스타일 */
#filterPopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 1000;
  padding: 20px;
}

#filterPopup h2 {
  margin-top: 0;
  font-size: 1.5rem;
  text-align: center;
}

#filterPopup label {
  display: block;
  margin-bottom: 10px;
}

#filterPopup input,
#filterPopup select {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#filterPopup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

#filterPopup button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

#filterPopup button:hover {
  background-color: #0056b3;
}

/* 레이아웃 조정 */
@media (max-width: 768px) {
  .product-item-area .product-item {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .product-item-area .product-item {
    flex: 1 1 calc(100% - 20px);
  }
}

/* 상품 등록 페이지 */
.product-upload-form {
  width: 70%;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: #333;
}

.product-upload-form h2 {
  text-align: left;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-group input[type="text"],
.form-group input[type="file"],
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #000 !important;
}

.image-upload-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: center;
}

.image-upload-box {
  width: 150px;
  height: 150px;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.upload-text {
  font-size: 14px;
  color: #888;
  text-align: center;
}

.image-preview-area {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image-preview {
  width: 150px;
  height: 150px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image-preview img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.image-preview .remove-btn {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}

.remove-btn img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(169deg)
    brightness(104%) contrast(106%);
  width: 40%;
}

.image-preview .representative-label {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 4px;
  display: none; /* 첫 번째 이미지만 표시할 예정 */
}

.image-preview:first-child .representative-label {
  display: block; /* 첫 번째 이미지에만 "대표 이미지" 표시 */
}

.form-group .upload_button {
  width: 100%;
  padding: 20px;
  background-color: #f08c34;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.trade-method-container {
  display: flex;
  gap: 10px; /* 버튼 사이의 간격을 조정 */
}

.trade-method-button {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  color: #333;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  font-size: 16px;
}

.trade-method-button.active {
  background-color: #f08c34; /* 선택된 버튼의 배경 색상 */
  color: white; /* 선택된 버튼의 글자 색상 */
}

/* 상품 상세보기 페이지 */

/* 상품 상세 컨테이너 */
.product-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 70%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* 상품 상세 정보 */
.product-detail {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: stretch; /* 컨테이너 내의 아이템들이 같은 높이를 가지도록 */
  justify-content: space-around;
}

.product-detail-thumbnail-container {
  flex: 1; /* flex를 사용해 크기를 유동적으로 조정 */
  max-width: 40%;
  aspect-ratio: 1 / 1; /* 1:1 비율 유지 */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* 이미지가 없을 때 배경색 설정 */
}

.product-detail-thumbnail-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: white; /* 여백 부분을 흰색으로 채움 */
}

.product-detail-spans {
  flex: 1; /* flex를 사용해 크기를 유동적으로 조정 */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 상하 요소가 동일하게 배치되도록 */
}

.product-detail-first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: #2d3f51 1px solid;
}

.user-name {
  font-size: 1.5vw;
}

.product-detail-second-child {
  display: flex;
  flex-direction: column;
}

.product-detail-name {
  font-size: 2.5vw;
  font-weight: 400;
}

.product-detail-price {
  font-size: 3vw;
  font-weight: 500;
  color: #f08c34;
}

.product-detail-third-child {
  font-size: 1.4vw;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-detail-view-btn {
  border-top: #2d3f51 1px solid;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-detail-view-info {
  display: flex;
  gap: 20px;
}

.product-detail-btn-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.wish-count-container,
.chat-count-container,
.view-count-container {
  display: flex;
  gap: 10px;
}

.wish-svg,
.chat-svg,
.view-svg {
  filter: invert(22%) sepia(29%) saturate(580%) hue-rotate(169deg)
    brightness(93%) contrast(94%);
  height: 1.5vw;
}

.wish-btn,
.chat-btn {
  display: flex;
  flex: 1; /* 버튼 크기를 균등하게 나눔 */
  background-color: #8e98ae;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 60px;
  cursor: pointer;
}

.wish-btn img,
.chat-btn img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(54deg)
    brightness(107%) contrast(101%);
}

.product-detail-btn-container span {
  font-size: 1.5rem;
  color: #ffffff;
}

.product-breadcrumb a {
  text-decoration: none;
  color: #2d3f51;
}

.product-breadcrumb a:hover {
  text-decoration: underline;
  color: #2d3f51;
}

.product-breadcrumb {
  margin-bottom: 20px;
}

.similar-products {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
}

.similar-products-list {
  display: flex;
  gap: 15px;
}

.similar-product-item {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 150px;
  flex: 1;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.similar-product-item img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1; /* 1:1 비율 유지 */
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.similar-product-item-span {
  font-weight: 400;
  font-size: 1.5vw;
  padding-top: 10px;
  margin-bottom: 10px;
  border-top: #2d3f51 1px solid;
}

.similar-product-item-name {
  margin: 10px 0;
  font-size: 1vw;
  font-weight: 400;
}

.similar-product-item-price {
  font-size: 0.9vw;
  margin-bottom: 5px;
  font-weight: 300;
}

.similar-product-item:hover {
  transform: scale(1.05);
}
